
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.heading {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    overflow: auto;
}
.btn {
    width: 20%;
    max-width: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 150, 220);
    text-align: center;
    padding: 10px;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    cursor: pointer;
    transition: 300ms;
}
.btn:hover {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: rgb(0, 150, 220);
}
.title {
    color: rgb(0, 150, 220);
}
hr {
    opacity: 50%;
}
.div0 {
    display: flex;
}
.img_div {
    flex: 300px;
}
.text_div {
    margin-left: 5px;
    flex: 100%;
}
.img {
    width: 200px;
    border-radius: 5px;
}
.vd {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    border-radius: 5px;
}
.vd_ani {
    animation: slide 800ms;
}
@keyframes slide {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
.vd_ani2 {
    animation: slide2 800ms;
}
@keyframes slide2 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(120%);
    }
}
.x {
    position: absolute;
    right: 0;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
}
.x:hover {
    color: rgb(255, 0, 0);
}
.btn2 {
    width: 200px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 150, 220);
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    transition: 300ms;
}
.btn2:hover {
    text-decoration: underline;
}
.credit {
    bottom: 0;
    position: absolute;
    width: 80%;
    margin: auto;
    font-size: 14px;
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
