:root {
    --color-white: #ffffff;
    --transparent-bg: rgba(255, 255, 255, 0.1);
    --max-width: 1600px;
}

body {
    width: 100%;
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(145deg, rgb(0, 0, 0), #784ba0);
    background-attachment: fixed;
    color: var(--color-white);
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

hr {
    opacity: 25%;
    width: 80%;
}

.title {
    display: inline-block;
    background: linear-gradient(
        90deg,
        #ff3cac,
        #784ba0,
        #2b86c5,
        #ff3cac,
        #784ba0
    );
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowFlow 10s linear infinite;
}

@keyframes rainbowFlow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

.home-div {
    background-color: rgb(255, 255, 255, 0.05);
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 5px;
    border: 0px solid var(--transparent-bg);
    border-radius: 8px;
}

.main-div {
    background-color: rgb(255, 255, 255, 0.05);
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}

.btn {
    width: 180px;
    max-width: 80%;
    margin: 2px;
    padding: 10px;
    background: var(--transparent-bg);
    color: var(--color-white);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms;
    /* alignments */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: normal;
}

.imgBtn {
    gap: 10px;
}

.imgBtn img {
    display: block;
    width: 20px;
    height: 20px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 200px 0px 50px var(--color-white);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.credit-div {
    width: 100%;
    max-width: var(--max-width);
    margin-top: 10px;
    position: absolute;
    color: var(--color-white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
}

.credit-div a {
    color: rgb(0, 150, 255);
    text-decoration: none;
    border-bottom: 1px dotted;
}
