:root {
    --color-white: #ffffff;
    --transparent-bg: rgba(255, 255, 255, 0.2);
}

body {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(255, 77, 169));
    background-attachment: fixed;
    color: var(--color-white);
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

hr {
    opacity: 25%;
    width: 80%;
}

.title {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowFlow 12s linear infinite;
}

@keyframes rainbowFlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.home-div {
    background-color: var(--transparent-bg);
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 5px;
    border: 2px solid var(--transparent-bg);
    border-radius: 5px;
}

.btn {
    width: 180px;
    max-width: 80%;
    margin: 2px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.25);
    color: var(--color-white);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    /* alignments */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: normal;
}

.imgBtn {
    gap: 10px;
}

.imgBtn img {
    display: block;
    width: 20px;
    height: 20px;
}

.btn:hover {
    background-color: var(--color-white);
    transform: translateY(3px);
    color: rgb(0, 0, 0);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.credit-div {
    width: 100%;
    max-width: 1920px;
    margin-top: 3%;
    position: absolute;
    color: var(--color-white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
}

.credit-div a {
    color: rgb(0, 150, 255);
    text-decoration: none;
    border-bottom: 1px dotted;
}
