body {
    width: 100%;
    margin: auto;
    background: linear-gradient(135deg, rgb(50, 180, 255), rgb(255, 100, 180));
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    height: 80vh;
    font-family: sans-serif;
    text-align: center;
}

hr {
    opacity: 50%;
    width: 80%;
}

.home-div {
    width: 80%;
    margin: auto;
    text-align: start;
    border-bottom: solid 5px rgb(255, 255, 255);
}

.main-div {
    height: 80vh;
    max-height: 80vh;
}

.btn {
    padding: 10px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    margin: 1% 1%;
    cursor: pointer;
    transition: 600ms;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.credit-div {
    color: rgb(50, 180, 255);
}

a {
    color: rgb(255, 100, 180);
}